.Weather {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: pink;
  padding: 16px;
  border: 1px solid rgb(232, 102, 124);
  border-radius: 10px;
}
.Weather .btn {
  background: rgb(232, 102, 124);
  color: white;
}
.Weather h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 20px 0;
  line-height: 1;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-size: 60px;
  font-weight: 700;
  line-height: 64px;
  margin-left: 5px;
  margin-left: 10px;
}

.Weather canvas {
  margin: 5px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 20px;
  font-weight: 500;
  position: relative;
  line-height: 1;
  top: -28px;
}
